pkgbase = any2ascii
	pkgdesc = NCurses Ascii Art Editor
	pkgver = v1.0.1r1
	pkgrel = 1
	url = https://github.com/doctorfree/any2ascii
	install = any2ascii.install
	arch = x86_64
	arch = armv7h
	license = GPL2
	makedepends = pandoc
	makedepends = zip
	depends = ncurses
	depends = zlib
	source = any2ascii::git+https://github.com/doctorfree/any2ascii.git
	sha256sums = SKIP

pkgname = any2ascii
